.wrapper{
    width: 35%;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #568d90;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    margin-bottom: 40px;
    color: #568d90;
}
input{
    margin: 10px;
    font-size: large;
    padding: 5px 20px;
    border: 1px #568d90 solid;
    color: #000000;
    border-radius: 5px;
}
.submit{

    margin: 10px;
    font-size: large;
    padding: 5px 20px;
    border: none;
    background-color: #568d90;
    border-radius: 5px;
    color: white;
}
.submit:hover{
    cursor: pointer;
    background-color: #47787a;
}
.submit:active{
    cursor: pointer;
    background-color: #36585a;
}
.submit:disabled{
    background-color: #ababab;
}