.wrapper {
  width: 98%;
  margin: auto;
  margin-top: 20px;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.section-title {
  color: #568d90;
  margin-left: 20px;
}
p{
  font-size: large;
}

